// Specification
@import './specification/variables';
@import 'specification/fonts';

//Components
@import 'components/components';

// Sections
@import 'sections/section';

body {
  background-size: cover;
  color: #000;
  border: 1px solid black;
  background: black;
  width: 300px;
  height: 600px;
}